.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-h1 {
  color: black
}

.App .start {
  position: absolute;
  display: none;
  align-items: center;
  justify-content: center;
  border-radius: 1em;
  width: 80%;
  height: 80%;
  color: transparent;
  /* background: radial-gradient(circle at 100px 100px, #3f4042, #000); */
}

  
.App label {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1em;
  width: 80%;
  height: 80%;
  color: white;
}

.App label:hover {
  font-size: 4rem;
  transition: .25s;
  cursor: pointer;

}


